:root {
    --blue: #102077;
    --yellow: rgb(255, 255, 98);
    --background: rgb(250, 243, 215);

}

* {
    margin: 0;
    padding: 0;
}

.home__div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}



.home__motto {
    font-family: 'Bebas Neue', cursive;
    color: var(--blue);
    font-size: 80px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: right;
    padding: 10px;
}

.home__text {
    letter-spacing: 5px;
}

.middle {
    font-size: 50px;
    width: 100%;
    padding: 0;
    margin-top: -40px;
    text-align: center;
}

.plane {
    margin-top: -50px;
}

.bottom {
    margin-top: -75px;
    font-size: 110px;
}

.top {
    font-size: 100px;
}

.dotted {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: -170px;
}

.home__img {
    height: 400px;
    border-radius: 3em;
    filter: brightness(1.5);
}

.home__div-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
}

.buttons-top,
.buttons-bottom {
    display: flex;
    align-items: center;
}

.home-button {
    font-family: 'Bebas Neue', cursive;
    color: var(--blue);
    letter-spacing: 3px;
    font-size: 20px;
    margin: 50px;
    cursor: pointer;
    background-color: var(--background);
    border: 10px solid var(--blue);
    width: 170px;
    height: 100px;

    border-style: dotted;
}

.home-button:hover {
    background-color: var(--yellow);
    transition: ease .3s;
    font-size: 22px;
    border-style: dotted;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    cursor: pointer;
    background: #189AB4;
    border-radius: 1rem;
    padding: 10px 7px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 400px;
}

.close-modal {
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #0050ac;
    border-radius: .8em;
}


@media only screen and (max-width: 1000px) {
    .home__div {
        flex-direction: column;
    }

}