:root {
    --blue: #102077;
    --yellow: rgb(255, 255, 98);
    --background: rgb(250, 243, 235);
}

body {
    background-color: var(--background);
}

.container {
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}